.carousel-inner > .item > img {
    position: relative;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 150px; /* <--- Change this line to min-height */
    max-height: 150px;
    overflow:hidden;
}

.carousel-control {
    padding-top:10%;
    width:5%;
}

.thumbimage {
    height: 40px;
    width: 40px;
}

.foodimage {
    height: 100px;
    width: 100px;
}

.padfeed {
    padding-top: 10px;
}